.boardgame-img {
    &-wrapper {
        height: 300px;
        position: relative;
    }

    @media (min-width: 576px) {
        &-wrapper {
            height: 200px; 
        }
    }

    @media (min-width: 1200px) {
        &-wrapper {
            height: 250px; 
        }
    }

    @media (min-width: 1400px) { 
        &-wrapper {
            height: 300px; 
        }
     }
      
    /* If you want text inside of the container */
    &-label {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        background-color: rgb(0,0,0, 0.5);
    }
}

