<div class="container"><ul class="nav">
  <li *ngFor="let tab of tabs" class="nav-item">
    <button class="btn nav-link" [class.active]="tab.value === activeTab" aria-current="page" (click)="onNavClick(tab.value)">
      {{tab.key}}
    </button>
  </li>
</ul>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div *ngFor="let boardgame of collection" class="col">
        <button class="w-100 overflow-hidden boardgame-img-wrapper btn" (click)="onTileClick(boardgame.objectId)">
          <img [src]="boardgame.imgSrc" [alt]="boardgame.title" class="img-thumbnail">
          <div class="boardgame-img-label px-3 py-1">
            <div>{{boardgame.title}}</div>
            <div>{{boardgame.ownerName}}</div>
          </div>
        </button>
    </div>
  </div>
</div>